version: '3.8'
services:
  fastapi:
    image: crpi-j8chxoc53n9pz1ge.cn-zhangjiakou.personal.cr.aliyuncs.com/wta_space/fastapi_git:v1
    # build: .
    container_name: fastapi_service
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./:/app
    